@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  :root{
    --navigation-height:6.8rem;
  }

  html {
    @apply bg-darkteal font-sans text-teal;
    font-size: 62.5%;
  }

}

@layer utilities{
  .mask-rise-radial-gradient {
    mask-image: radial-gradient(circle at center center, black, transparent 80%)
  }

  .mask-linear-gradient{
    mask-image: linear-gradient(black, transparent)
  }
}